.container {
  height: 100%;
  max-width: 960px;
}

.text-badge {
  padding: .1em .4em;
  background: var(--bs-black);
}

.banner {
  padding: 2em 1em;
  text-align: center;
  background: var(--bs-blue);
  border-radius: 1em;
}

.projects {
  --bs-gutter-y: 1.5rem;
}

footer {
  margin-top: 3cm;
  color: var(--bs-white);
  background: var(--bs-gray-800);
}

